* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

a {
  text-decoration: none !important;
}

.home-heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25vh;
  background: linear-gradient(to right, #f46b45, #eea849);
  margin-top: 3rem;
}

.home-heading h1 {
  color: #fff;
  font-size: 3.5rem;
  font-family: "Be Vietnam Pro", sans-serif;
}

.home-heading a {
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.home-heading a:hover {
  background-color: #fff;
  color: black;
  transition: 0.3s;
}

.content-layout {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.content-block {
  max-width: 70vw;
  border: 2px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
}

.content {
  margin-top: 2rem;
}

.content p {
  font-size: 1.5rem;
}

.content h1 {
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 1rem;
}

.content h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 1rem;
}

.extra-space {
  margin-top: 2rem;
}

.navbar-brand {
  font-size: 2rem !important;
  color: #000 !important;
}

.nav-link {
  font-size: 1.5rem !important;
}

.nav-link:hover {
  color: dodgerblue !important;
}

.navbar-toggler-icon {
  font-size: 2rem !important;
}

.content img {
  width: 20rem;
  height: 20rem;
}

.img-block {
  display: flex;
  justify-content: center;
}

.intermediate {
  width: 100%;
  height: 30vw;
  background-color: #eea849;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.intermediate a {
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.2rem;
}

.intermediate a:hover {
  background-color: #fff;
  color: black;
  transition: 0.3s;
}

.c {
  font-size: 1.2rem;
}

@media screen and (max-width: 1100px) {
  .content-block {
    max-width: 90vw;
  }
}

pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(34, 34, 34);
  border-radius: 1rem;
  padding: 2rem;
  border: 2px solid rgb(138, 138, 138);
}

code {
  color: #ccc !important;
}

.content li {
  font-size: 1.5rem;
}

.ml-models--link {
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  box-shadow: 0px 0px 5px rgb(235, 235, 235);
  background-color: rgba(30, 144, 255, 0.8);
  color: #fff;
}

.ml-models--link:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.margin {
  margin-top: 2rem;
}

.model-container--link {
  display: flex;
  justify-content: center;
}

.img-one {
  width: 40rem !important;
  height: 40rem !important;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.1);
}

.img-extra--width {
  width: 60rem !important;
}

@media screen and (max-width: 500px) {
  .img-one {
    width: 30rem !important;
    height: 30rem !important;
  }

  .img-extra--width {
    width: 30rem !important;
    height: 20rem !important;
  }
}

/* @media screen and (max-width: 400px) {
  .img-extra--width {
    width: 30rem !important;
    height: 20rem !important;
  }
} */
