body {
  height: 200vh;
  width: 100%;
}

a {
  text-decoration: none;
}

.drop-logo {
  width: 2rem;
  height: 2rem;
}

.hero-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  background-color: #212529;
  align-items: center;
  color: aliceblue;
}

.hero-intro {
  font-size: 5rem;
  text-align: center;
  line-height: 75px;
}

button {
  outline: 0;
  border: 0;
}

.courses-nav {
  background-color: #212529;
  border: 1px solid aliceblue;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.courses-nav a {
  color: aliceblue;
}

.courses-nav:hover {
  background-color: aliceblue;
  border: 1px solid #212529;
}

.courses-nav:hover a {
  color: #212529;
}

.hero-text-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .hero-image {
    width: 500px;
    height: 500px;
  }
  .hero-layout {
    flex-direction: column;
    justify-content: center;
  }
  .hero-image-layout {
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .hero-image {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .hero-image {
    width: 300px;
    height: 300px;
  }
}

.courses-list-layout header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.courses-list-layout {
  margin-top: 30px;
}

.courses-list-layout hr {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 0;
}

.courses-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}

.courses-list-container div {
  background-color: #212529;
  border-radius: 10px;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
}

.courses-list-container div img {
  width: 150px;
  height: 150px;
}

.heading-container-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
