* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: #0f0c29;
  background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
  background-repeat: no-repeat;
  color: #fff;
  height: max-content;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

.intro h1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

hr {
  border: 1px solid rgb(117, 117, 117);
  border-bottom: 0;
  margin-left: 2rem;
  margin-right: 5rem;
}

.courses-container-block {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem;
}

.courses-container-block div {
  border: 1px solid rgb(117, 117, 117);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
}

.courses-container-block img {
  height: 15rem;
  width: 15rem;
}

.courses-container-block h1 {
  font-size: 3rem;
}

.courses-container-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-container-block a:hover {
  padding: 1.5rem;
  border-right: 1rem solid #fff;
  border-left: 1rem solid #fff;
  transition: ease 0.3s;
}

@media screen and (max-width: 1230px) {
  .courses-container-block {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .intro h1 {
    text-align: center;
  }

  hr {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
